@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

#title {
    text-align: center;
    font-family: 'Patua One', serif;
    font-size: 50px;
}

#word1 {
    color: rgb(186, 12, 0);
}

#num-dice {
    border-radius: 5px;
    background-color: rgb(168, 157, 157);
}

#dice {
    text-align: center;
}

#dice img {
    width: 100px;
    height: auto;
}
